h1 {
  text-transform: uppercase;
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Bungee Inline', cursive;
}

button {
  background-color: rgba(0, 0, 0, .4);
  border: none;
  border-radius: 5px;
  color: #fff;
}
